<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Contact Us Section -->
        <section class="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="section-title">
                            <h2>Тука може да ги најдете сите хотели во Охрид</h2>
                              <p>Преку оваа форма истражете и најдете го бараниот хотел.<b></b></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <form action="/" class="mb-4 mb-lg-0">
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Име на хотел" />
                                    <a>Или пак изберете од менито подолу:</a>
                                </div>
                            </div>
                            <div class="dropdown">
                              <button class="dropbtn">Избери хотел</button>
                              <div class="dropdown-content">
                              <a href="#">Hotel Tino Sveti Stefan
                              </a>
                                <a href="#">Hotel Cingo
                                </a>
                                <a href="#">Hotel Drim
                                </a>
                                <a href="#">Hotel Village
                                </a>
                                <a href="#">Royal View
                                </a>
                                <a href="#">City Inn
                                </a>
                                <a href="#">Villa St. Nicholas
                                </a>
                                <a href="#">Villa Veron
                                </a>
                                <a href="#">Villa White Lake
                                </a>
                                <a href="#">Villa Bella Ohrid
                                </a>
                                <a href="#">Apartment Exclusive
                                </a>
                                <a href="#">Villa Lucija
                                </a>
                                <a href="#">Apartments Joce
                                </a>

                              </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-5">
                        <div class="map">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d96240.58166831011!2d20.72993352658523!3d41.07952359149683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shotels%20in%20ohrid!5e0!3m2!1smk!2smk!4v1638717945903!5m2!1smk!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-sm" routerLink="">Назад кон почетна</button>
            </div>
            <br><br><br><br><br><br><br><br><br>
        </section>
        <!-- End Contact Us Section -->
    </body>
</html>

