<!-- <app-map></app-map> -->
<router-outlet></router-outlet>


<!-- <head>
  <meta charset="utf-8">
  <title>HERE with Angular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>
  <script src="https://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
</body>

<div style="padding-bottom: 20px">
  <div>
      <label class="searchLabel">Start</label>
      <input type="text" [(ngModel)]="start" />
      <label class="searchLabel" style="margin-left: 10px">Range</label>
      <input type="text" [(ngModel)]="finish" style="margin-left: 10px" />
      <button (click)="map.route(start, finish)" style="margin-left: 5px">Search</button>
  </div>
</div>
-->



<!-- <h1>
  Please open it in full screen mode <br>
  your current location is:- <br>
  lat:{{lat}}<br>
  lng:{{lng}}
</h1> -->

<!-- <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->
