<h1 id="naslov">Take a way to Ohrid</h1>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<div class="container">
  <br><br><br><br>
  <div class="text-center">
  <hr>
  <h2>Истражете го бисерот на Европа - Охрид</h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-8">
      <br><br>
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=20.666313171386722%2C41.06951613614495%2C20.892906188964847%2C41.18356349076635&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=13/41.1266/20.7796">View Larger Map</a></small>
    </div>

      <!-- test za proba na lattitude i longitude-->


    <div class="col-sm-4" id="contact2">
      <br><br>
        <hr align="left" width="100%">
        <i class="fas fa-map" style="color:#000"></i> <a routerLink="/banks">Банки</a><br>
        <br>
        <i class="fas fa-map" style="color:#000" ></i> <a routerLink="/beaches"> Плажи </a><br>
        <br>
        <i class="fas fa-map" style="color:#000" ></i><a routerLink="/gas-stations"> Бензински пумпи </a><br>
        <br>
        <i class="fa fa-map" style="color:#000" ></i> <a routerLink="/groceries">Продавници</a><br>
        <br>
        <i class="fa fa-map" style="color:#000" ></i> <a routerLink="/hotels">Хотели</a><br>
        <br>
        <i class="fa fa-map" style="color:#000" ></i> <a routerLink="/restaurants">Ресторани</a><br>
      </div>
  </div>
</div>

<br><br>

<html>
  <div style="text-align: center;"><h2>Просечна оцена : {{average}} </h2></div>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <div class="stars">
    <form action="">
      <input class="star star-5" id="star-5" type="radio" value="5" name="star"/>
      <label class="star star-5" for="star-5"></label>
      <input class="star star-4" id="star-4" type="radio" value="5" name="star"/>
      <label class="star star-4" for="star-4"></label>
      <input class="star star-3" id="star-3" type="radio" value="5" name="star"/>
      <label class="star star-3" for="star-3"></label>
      <input class="star star-2" id="star-2" type="radio" value="5" name="star"/>
      <label class="star star-2" for="star-2"></label>
      <input class="star star-1" id="star-1" type="radio" value="5" name="star"/>
      <label class="star star-1" for="star-1"></label>
    </form>
    
  </div>
</html>
<br><br>
