<h1 id="naslov">Take a way to Ohrid</h1>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<div class="container">
  <br><br><br><br>
  <div class="text-center">
  <hr>
  <h2>Истражете го бисерот на Европа - Охрид</h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-8">
      <br><br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48095.0482490464!2d20.756864080466407!3d41.11399017213847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1350db6587ea6657%3A0xc46cfc65390bc9d3!2z0J7RhdGA0LjQtA!5e0!3m2!1smk!2smk!4v1638714367123!5m2!1smk!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

      <!-- test za proba na lattitude i longitude-->


    <div class="col-sm-4" id="contact2">
      <br><br>
        <hr align="left" width="100%">
        <i class="fas fa-map" style="color:#000"></i> <a routerLink="/banks">Банки</a><br>
        <br>
        <i class="fas fa-map" style="color:#000" ></i> <a routerLink="/beaches"> Плажи </a><br>
        <br>
        <i class="fas fa-map" style="color:#000" ></i><a routerLink="/gas-stations"> Бензински пумпи </a><br>
        <br>
        <i class="fa fa-map" style="color:#000" ></i> <a routerLink="/groceries">Продавници</a><br>
        <br>
        <i class="fa fa-map" style="color:#000" ></i> <a routerLink="/hotels">Хотели</a><br>
        <br>
        <i class="fa fa-map" style="color:#000" ></i> <a routerLink="/restaurants">Ресторани</a><br>
      </div>
  </div>
</div>

<br><br>

<html>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <div class="stars">
    <form action="" (ngSubmit)="$event" (click)="onClickEvent($event)">
      <input class="star star-5" id="star-5" type="radio" value="5" name="star"/>
      <label class="star star-5" for="star-5"></label>
      <input class="star star-4" id="star-4" type="radio" value="5" name="star"/>
      <label class="star star-4" for="star-4"></label>
      <input class="star star-3" id="star-3" type="radio" value="5" name="star"/>
      <label class="star star-3" for="star-3"></label>
      <input class="star star-2" id="star-2" type="radio" value="5" name="star"/>
      <label class="star star-2" for="star-2"></label>
      <input class="star star-1" id="star-1" type="radio" value="5" name="star"/>
      <label class="star star-1" for="star-1"></label>
    </form>
  </div>
</html>
<br><br>
